{% extends 'base.html.twig' %}

{% block body %}

    <h2>Resumé de votre commande :</h2>

    <h3>Votre commande comporte {{ commande.billets|length }} billets</h3>
    {% set billetNumber = 0 %}
    {% for billet in commande.billets %}
        <div class="billet">
            {% set billetNumber = billetNumber + 1 %}
            <h3> Billet n°{{ billetNumber }}</h3>
            <p> Type de billet : {{ billet.type }}</p>
            {% if billet.fullday == 1 %}
            <p>Billet journée</p>
            {% else %}
            <p>Billet demi-journée</p>
            {% endif %}
            <p>Nom : {{ billet.name }}</p>
            <p>Pays : {{ billet.country }}</p>
            <p>{{ billet.birthDate|date("m/d/Y") }}</p>
        </div>
    {% endfor %}

    <div>
        <h3>Votre commande coûte {{ commande.price }} euros</h3>
    </div>

{% endblock %}