{% extends 'base.html.twig' %}

{% block body %}

<div class="fond">

    <div class="container">

        <h2>Resumé de votre commande {{ commande.uuid }} :</h2>

        <h3>Votre commande comporte {{ commande.billets|length }} billets</h3>
        {% set billetNumber = 0 %}
        {% for billet in commande.billets %}
            <div class="billet card">
                {% set billetNumber = billetNumber + 1 %}
                <h3> Billet n°{{ billetNumber }}</h3>
                {% if billet.type %}
                <p> Type de billet : réduit </p> 
                {% else %}
                <p> Type de billet : normal </p>
                {% endif %}
                {% if billet.fullday == 1 %}
                <p>Billet journée</p>
                {% else %}
                <p>Billet demi-journée</p>
                {% endif %}
                <p>Nom : {{ billet.name }}</p>
                <p>Pays : {{ billet.country }}</p>
                <p>Date de naissance : {{ billet.birthDate|date("m/d/Y") }}</p>
            </div>
        {% endfor %}

        <div>
            <h3>Votre commande coûte {{ commande.price }} euros</h3>
        </div>

    </div>

</div>

{% endblock %}