{% extends 'base.html.twig' %}

{# {% form_theme form 'bootstrap_4_layout.html.twig' %} #}

{% block body %}

    <h1>Reservez votre billet</h1>

    {{ form_start(form) }}
    
    {{ form_widget(form) }}

    <ul class="billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e('html_attr') }}">

        {% for billet in form.billets %}
            <li>{{ form_row(billet.type) }}</li>
            <li>{{ form_row(billet.fullday) }}</li>
            <li>{{ form_row(billet.name) }}</li>
            <li>{{ form_row(billet.country) }}</li>
            <li>{{ form_row(billet.birthDate) }}</li>
        {% endfor %}

    </ul>
    
    <button type="submit" class="btn btn-dark">Passer la commande</button>

    {{ form_end(form) }}

{% endblock %}

{% block javascripts %}

    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addBilletButton = $('<button type="button" class="add_billet_link">Ajouter un billet</button>');
        var $newLinkLi = $('<li></li>').append($addBilletButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#commande_billets');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addBilletButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addBilletForm($collectionHolder, $newLinkLi);
            });
        });

        function addBilletForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button">Enlever ce billet</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>

    <script>

        $('.js-datepicker').datepicker({
            format:'yyyy.MM.dd'
        });
        
    </script>

{% endblock %}