{% extends 'base.html.twig' %}

{% block body %}

<div class="fond">

    <div class="container">

        <h1>Reservez votre billet</h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        
        {{ form_widget(form) }}

        <ul class="billets" data-prototype="{{ form_widget(form.billets.vars.prototype)|e('html_attr') }}">

            {% for billet in form.billets %}
                <li>{{ form_row(billet.type) }}</li>
                <li>{{ form_row(billet.fullday) }}</li>
                <li>{{ form_row(billet.name) }}</li>
                <li>{{ form_row(billet.country) }}</li>
                <li>{{ form_row(billet.birthDate) }}</li>
            {% endfor %}

        </ul>
        
        {{ form_end(form) }}

    </div>

</div>

{% endblock %}

{% block javascripts %}

    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addBilletButton = $('<button type="button" class="add_billet_link btn btn-light">Ajouter un billet</button>');
        var $newLinkLi = $('<li></li>').append($addBilletButton);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('#commande_billets');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addBilletButton.on('click', function(e) {
                // add a new tag form (see next code block)
                addBilletForm($collectionHolder, $newLinkLi);
            });
        });

        function addBilletForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);

            $('.type-select').change(function(value) {
                if(value.currentTarget.value === "1") {
                    $('.type-select').after("<span class=\"justif\">Un justificatif est nécessaire pour ce billet</span>");
                };
            });

            $('.type-select').change(function(value) {
                if(value.currentTarget.value === "0") {
                    $('.justif').html("");
                };
            });
            
        }

        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormButton = $('<button type="button" class="btn btn-light">Enlever ce billet</button>');
            $tagFormLi.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }

    </script>

    <script>
        (function($){
        $.fn.datepicker.dates['fr'] = {
        days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
        daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
        daysMin: ["d", "l", "ma", "me", "j", "v", "s"],
        months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
        monthsShort: ["janv.", "févr.", "mars", "avril", "mai", "juin", "juil.", "août", "sept.", "oct.", "nov.", "déc."],
        today: "Aujourd'hui",
        monthsTitle: "Mois",
        clear: "Effacer",
        weekStart: 1,
        };
        }(jQuery));

        $('.datepicker').datepicker({
        language: 'fr',
        autoclose: true,
        todayHighlight: true
        })
    </script>
    
    <script>

        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy',
            autoclose: true,
            startDate: "today",
            daysOfWeekDisabled: '2',
            datesDisabled: ['01-05-2020'],
            datesDisabled: ['01-11-2019'],
            datesDisabled: ['25-12-2019'],
            language: 'fr'
        });
        
        $('.js-datepicker').change(function(value) {
            $('.dispo-resulat').remove();
            const date = value.currentTarget.value;
            console.log(date);
            $.get("/check-date/" + date, function(data, status){
                console.log(data, status);
                if ((1000 - data.quantity) <= 0) {
                    $('.js-datepicker').datepicker({
                        datesDisabled: ['value.currentTarget.value']
                    });
                    $('#commande_date').after("<span class='dispo-resulat'> Il ne reste aucune places disponibles pour ce jour </span>");
                };
                $('#commande_date').after("<span class='dispo-resulat'> Il reste " + (1000 - data.quantity) + " places disponibles pour ce jour </span>");
            });
        });

    </script>


{% endblock %}